/* For toggling background */
body {
  padding: 0;
  margin: 20px;
  box-sizing: border-box;
}
.dark-mode {
  background-color: black;
  color: white;
}
.head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid rgb(113, 154, 0);
    border-radius: 20px;
    background-color: #dbef03;
    color: #373c01;
} 
.toggle_balance{
    display:flex;
    flex-direction: column;
    padding-right: 8em;
} 
h1{
    padding-left: 1em;
}
h3{
    text-align: center;
}
.form{
    border: 3px solid;
    border-radius: 30px;
    padding:25px; 
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}
.filter{
    display: flex;
    flex-direction: column;
    padding: 30px;
}
.filter-buttons{
    display: flex;
    justify-content: center;
    gap: 30px
}
.filter button{
    border: 2px solid;
    border-radius: 30px;
    padding: 5px;
    width: 80px;
}
button{
    border: 2px solid;
    border-radius: 30px;
    padding: 10px;
}
